.header{
    background-color: var(--bg2);
}

.header ul {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 1em;
    margin: 0;
}

.header a {
    text-decoration: none;
    margin: 0 1em;
}
